@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #242333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background: #fff;
    padding: 5px 15px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.container {
    perspective: 1000px;
}

.row {
    display: flex;
}

.screen {
    background: #fff;
    width: 100%;
    height: 70px;
    margin: 20px 0;
    transform: rotateX(-45deg);
    box-shadow: 0px 3px 10px rgba(255, 255, 255, .7);
}

.seat {
    background: #444451;
    width: 15px;
    height: 12px;
    margin: 3px;
    border-radius: 10px 10px 0 0;
}

.seat.selected {
    background: #6feaf6;
}

.seat.occupied {
    background: #fff;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase {
    background: rgba(0, 0, 0, .1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.showcase .seat:hover {
    cursor: default;
    transform: scale(1);
}

.text {
    margin-top: 20px;
}

.text span {
    color: #6feaf6;
}